img{
	/*width: 250px;
	height: 380px;*/
	width: 30%;
	float: left;
	margin: 1.66%;
	/*border: 1px solid gray;*/
}
body{
	/*background:url(Images/pulser.jpg);*/
	background: black;
}
h1{
	font-family:monospace;
	color: white;
	margin-left: 1.66%;
	font-size: 4vh;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: .2px solid white;
	width: 30%;
	padding-bottom: .3vh;
}