h4{
	text-transform: uppercase;
	letter-spacing: 2.2px;
	font-weight:300;
	color:#3498db;
	font-family: sans-serif;
}
/*border color:#bdc3c7;
date color:#3498db;
h2 color #2c3e50;*/
body{
	width: 50%;
	height: 50%;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 2px;
	border: 25px solid #bdc3c7;
	border-spacing: inherit;
	margin-left: 21%;
	margin-top: 20px;
	font-family:Source Sans Pro;
}
.sep{
	border-bottom: .2px solid #bdc3c7;
}
.spl{
	border-left: 4px solid #bdc3c7;
	padding-left: 10px;
}
h2{
	text-transform: capitalize;
	font-weight:400;
	color: #2c3e50;
}
